@model IEnumerable<Lennujaam_MVC.Models.Lend>

@{
	ViewData["Title"] = "Lennud";
}

<h1>Lennud</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.KohtadeArv)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ReisijateArv)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Otspunkt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Sihtpunkt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ValjumisAeg)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Lopetatud)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Kestvus)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
					<tr>
					<td>
					@Html.DisplayFor(modelItem => item.KohtadeArv)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.ReisijateArv)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.Otspunkt)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.Sihtpunkt)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.ValjumisAeg)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.Lopetatud)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.Kestvus)
					</td>
					<td>
						<a class="btn btn-primary" asp-action="LisaReisija" asp-route-id="@item.ID">Lisa Reisija</a>
					</td>
				</tr>
		}
	</tbody>
</table>